# Config MYSQL
[mysqld]

# All IP can connect
bind_address=*

# Dir for store database
datadir = /var/lib/mysql

# location socket
socket = /run/mysqld/mysqld.sock

# Add user
user=mysql

# Communication port
port = 3306
